<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.bmaupin.flashcards.arabic"
      android:versionCode="26"
      android:versionName="0.6.1">
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:theme="@style/Theme.Custom" >
        <activity android:name="com.googlecode.chartdroid.pie.ChartPanelActivity">
        </activity>
        <activity android:name=".old.ArabicFlashcards" >
        </activity>
        <activity android:name=".About"
        	      android:label="@string/about_title"
        	      android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".BrowseCards"
                  android:configChanges="orientation|keyboardHidden" >
            <meta-data android:name="android.app.default_searchable"
                       android:value=".Search" />
        </activity>
        <activity android:name=".ChooseCardGroup" >
        </activity>
        <activity android:name=".ChooseStudySet" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value=".Search" />
        </activity>
        <activity android:name=".Help"
                  android:label="@string/help_title"
                  android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".Preferences"
                  android:label="@string/preferences_title"
                  android:theme="@android:style/Theme" >
        </activity>
        <activity android:name=".ShowOneCard" >
            <meta-data android:name="android.app.default_searchable"
                       android:value=".Search" />
        </activity>
        <activity android:name=".ShowStudySet" >
            <meta-data android:name="android.app.default_searchable"
                       android:value=".Search" />
        </activity>
        <activity android:name=".Search"
                  android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        <provider android:name=".data.CardProvider"
                  android:authorities="ca.bmaupin.flashcards.arabic.cardprovider"
                  android:exported="false" >
                  <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <provider android:name=".data.StudySetProvider"
                  android:authorities="ca.bmaupin.flashcards.arabic.studysetprovider"
                  android:exported="false" >
                  <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest>