<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="us.bmaupin.flashcards.arabic"
      android:versionCode="15"
      android:versionName="0.4.1">
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name=".ArabicFlashcards"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<meta-data android:name="android.app.default_searchable"
			           android:value=".Search" />
        </activity>
        <activity android:name=".About"
        	      android:label="@string/about_title"
        	      android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".ChooseCardSet"
                  android:label="@string/choose_cards_title"
                  android:theme="@android:style/Theme" >
        </activity>
        <activity android:name=".ChooseStudySet" >
        </activity>
        <activity android:name=".Help"
                  android:label="@string/help_title"
                  android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity android:name=".Preferences"
                  android:label="@string/preferences_title"
                  android:theme="@android:style/Theme" >
        </activity>
        <activity android:name=".ShowOneCard" >
        </activity>
        <activity android:name=".Search"
                  android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="4" />

</manifest>